
  	
  </script>
<h1>Pags#pag1</h1>
<p>Find me in app/views/pags/pag1.html.erb</p>
<div class="jumbotron">
	<h1>Hola, mudno!</h1>
	<p>...</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	<% @users.each do |user| %> 
	<%= user %>
	<% end %>
</div>
<%= render 'shared/backstretch' %>
